body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Patrick Hand', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lavender;
}

.container {
  width: 80%;
  text-align: center;
}

#scatterplot {
  background-color: white;
}
